<div class = "wrapper">
<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Commandes en cours", orders_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Ajouter une commande", new_order_path, class: "tab-underlined active" %>
  </li>
  <li>
    <%= link_to "Commandes traitées", archive_orders_path, class: "tab-underlined  " %>
  </li>
</ul>
</div>

<div class="form-container">
  <%= simple_form_for [@order, @bus, @line], url:order_bus_lines_path, method: :post do |f| %>
  <%= f.input :bus_id, :input_html => { value: @bus.id}, as: :hidden %>
      <%= f.input :date_livraison_bdc, as: :date, html5: true, label: "Délai de livraison prévu sur bon de commande"   %>
      <%= f.input :couleur_ext_vehicule %>
      <%= f.input :mention_garantie %>
      <%= f.input :mention_telematique %>
  <button type="submit" class="btn btn-primary">
  <i class="far fa-edit"></i>
  <% end %>
   </div>
  </div>
</div>
