<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"></div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th><%= locals[:title] %></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% object.each do |document| %>
      <tr>
        <td><%= document %> </td>
        <td>
         <% if locals[:model].documents.where(name: "#{document}").take.present?  %>
          <%= link_to document_path(locals[:model].documents.where(name: "#{document}").take, :name => "#{document}"), class:"btn btn-primary" do %><i class="far fa-eye"></i><% end %>
          <%= link_to edit_document_path(locals[:model].documents.where(name: "#{document}").take, :name => "#{document}"), class:"btn btn-warning" do %><i class="far fa-edit"></i><% end %>
          <%= link_to document_path(locals[:model].documents.where(name: "#{document}").take, :name => "#{document}"), method: :delete, class:"btn btn-danger" do %><i class="far fa-eye"></i><% end %>
          <% else %>
          <%=link_to new_document_path(:name => "#{document}"), class:"btn btn-primary" do %><i class="fas fa-plus-circle"></i><% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

