<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Immatriculation :<%=@bus.immatriculation if @bus.immatriculation.present?  %></div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Documents</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><% if @delivery.facture.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@delivery.Facture)}"), target: "_blank" do %>
            <%= @delivery.facture.name %>
            <% end %>
            <%= link_to rails_blob_path(@delivery.facture, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @delivery.facture.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @delivery do |form| %>
            <%= form.file_field :facture %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>

        <% if @bus.immatriculation.present?  %>
        <tr>
          <td><% if @delivery.a_reception_envoi_papiers_originaux.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@delivery.a_reception_envoi_papiers_originaux)}"), target: "_blank" do %>
            <%= @delivery.a_reception_envoi_papiers_originaux.name %>
            <% end %>
            <%= link_to rails_blob_path(@delivery.a_reception_envoi_papiers_originaux, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @delivery.a_reception_envoi_papiers_originaux.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @delivery do |form| %>
            <%= form.file_field :a_reception_envoi_papiers_originaux %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="tab">
  <div class="tab">
    <div class="panel panel-default">
      <!-- Default panel contents-->
      <div class="panel-heading"></div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Transmission du Bulletin de livraison au Controlling</th>
            <% if @bus.immatriculation.present? %>
            <th>Documents Originaux à envoyer au client avec AR :<br />
                CI Barré avec tampon Volvo et Signature <br />+ si possible COC ET ATT. AMÉN.
                (NB : CI : GARDER LA PARTIE DÉTACHABLE)</th>
            <th>Double des clés envoyé en client</th>
            <% end %>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%= simple_form_for @delivery do |f| %>
          <tr>
            <td><%= f.input :transmission_bl_controlling, as: :boolean, label: false %>
            </td>
            <% if @bus.immatriculation.present? %>
            <td>
              <%= f.input :envoi_double_cle, as: :boolean, label: false %></td>
              <td>
              <%= f.input :doc_originaux_envoyés_client,as: :boolean, label: false %>
            </td>
            <% end %>
            <td> <button type="submit" class="btn btn-primary">
              <i class="far fa-save"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>


