<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Formation</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Date de la formation</th>
          <th>Lieu</th>
          <th>Formateur</th>
          <th>Date envoi email à Volvo Driver Développement avec numéro BdC</th>
          <th>Date de transmissions des informations au Client/RCR</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @training.date.strftime('%d-%B-%y')%></td>
          <td><%= @training.lieu%></td>
          <td><%= @training.formateur %></td>
           <%= simple_form_for @training do |f| %>
           <td><%= f.input :email_volvo_driver, as: :date, html5: true, label: false %></td>
          <td><%= f.input :info_transmise_rcr_client, as: :date, html5: true, label: false  %></td>
          <td>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
