<div class="tab">
  <div class="tab">
    <div class="panel panel-default">
      <!-- Default panel contents-->
      <div class="panel-heading"></div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Enregistrement CM</th>
            <th>Enregsitrement VDA+</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%= simple_form_for @delivery do |f| %>
          <tr>
            <td><%= f.input :enregistrement_cm, as: :boolean, label: false %>
            </td>
            <td>
              <%= f.input :enregistrement_vda, as: :boolean, label: false %>
            </td>
            <td> <button type="submit" class="btn btn-primary">
              <i class="far fa-save"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>


<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Documents</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><% if @delivery.CDOC.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@delivery.CDOC)}"), target: "_blank" do %>
            <%= @delivery.CDOC.name %>
            <% end %>
            <%= link_to rails_blob_path(@delivery.CDOC, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @delivery.CDOC.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @delivery do |form| %>
            <%= form.file_field :CDOC %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>

        <tr>
          <td><% if @delivery.Bulletion_de_livraison.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@delivery.Bulletion_de_livraison)}"), target: "_blank" do %>
            <%= @delivery.Bulletion_de_livraison.name %>
            <% end %>
            <%= link_to rails_blob_path(@delivery.Bulletion_de_livraison, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @delivery.Bulletion_de_livraison.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @delivery do |form| %>
            <%= form.file_field :Bulletion_de_livraison %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><% if @delivery.Attestation_EAD.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@delivery.Attestation_EAD)}"), target: "_blank" do %>
            <%= @delivery.Attestation_EAD.name %>
            <% end %>
            <%= link_to rails_blob_path(@delivery.Attestation_EAD, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @delivery.Attestation_EAD.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @delivery do |form| %>
            <%= form.file_field :Attestation_EAD %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>

        <tr>
          <td><% if @delivery.Attestation_Limiteur_de_Vitesse.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@delivery.Attestation_Limiteur_de_Vitesse)}"), target: "_blank" do %>
            <%= @delivery.Attestation_Limiteur_de_Vitesse.name %>
            <% end %>
            <%= link_to rails_blob_path(@delivery.Attestation_Limiteur_de_Vitesse, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @delivery.Attestation_Limiteur_de_Vitesse.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @delivery do |form| %>
            <%= form.file_field :Attestation_Limiteur_de_Vitesse %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><% if @delivery.Plan_VOSP.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@delivery.Plan_VOSP)}"), target: "_blank" do %>
            <%= @delivery.Plan_VOSP.name %>
            <% end %>
            <%= link_to rails_blob_path(@delivery.Plan_VOSP, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @delivery.Plan_VOSP.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @delivery do |form| %>
            <%= form.file_field :Plan_VOSP %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>

  <tr>
          <td><% if @delivery.Photos_Vehicule.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@delivery.Photos_Vehicule)}"), target: "_blank" do %>
            <%= @delivery.Photos_Vehicule.name %>
            <% end %>
            <%= link_to rails_blob_path(@delivery.Photos_Vehicule, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @delivery.Photos_Vehicule.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @delivery do |form| %>
            <%= form.file_field :Photos_Vehicule %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
