<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Départ</th>
          <th>Arrivée</th>
          <th>Sens</th>
          <th>Date</th>
        </tr>
      </thead>
<% @bus.ferries.each  do | ferry| %>
      <tbody>
        <tr>
          <td><%= ferry.depart %></td>
          <td><%= ferry.arrivee %></td>
          <td><%= ferry.sens %></td>
          <td><%= ferry.date_convoyage %></td>
        </tr>
      </tbody>
       <% end %>
    </table>
  </div>
</div>

<%= link_to "Convoyer ce bus", new_bus_ferry_path(@bus.id), class: "btn btn-primary" %>
