<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Départ</th>
          <th>Arrivée</th>
          <th>Sites prevenus</th>
          <th>N°bdc pour le convoyage crée</th>
          <th>Action</th>
        </tr>
      </thead>
<% @bus.ferries.each  do | ferry| %>
      <tbody>
        <tr>
           <td><%= ferry.date_convoyage %></td>
          <td><%= ferry.depart %></td>
          <td><%= ferry.arrivee %></td>
            <%= simple_form_for ferry do |f| %>
          <td><%= f.input :site, label: false%></td>
          <td><%= f.input :numero_bdc, label: false %></td>
          <td><button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button></td>
            <% end %>
        </tr>
      </tbody>
       <% end %>
    </table>
  </div>
</div>

<%= link_to "Convoyer ce bus", new_bus_ferry_path(@bus.id), class: "btn btn-primary" %>
