
  <div class="tab">
    <div class="panel panel-default">
      <!-- Default panel contents-->
      <div class="panel-heading"></div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Date de demande d'immatriculation encoyée à CCH</th>
            <th>Date de transmission des documents à la DF, au partenaire Volvo etc...</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%= simple_form_for @delivery do |f| %>
          <tr>
            <td><%= f.input :date_demande_immat_envoye, as: :date, html5: true, label: false %>
            </td>
            <td>
              <%= f.input :transmision_PV_DF_RCR, as: :date, html5: true, label: false %>
            </td>
            <td> <button type="submit" class="btn btn-primary">
              <i class="far fa-save"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

<%= render 'activestorage_documents'  %>

  <%= render './shared/documents', object: @documents_immatriculation, locals: { title: "Documents Immatriculation  #{@bus.immatriculation}", model: @delivery }  %>

  <div class="tab">
    <div class="panel panel-default">
      <!-- Default panel contents-->
      <div class="panel-heading"></div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Note</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%= simple_form_for @delivery do |f| %>
          <tr>
            <td><%= f.input :note, label: false %>
            <td> <button type="submit" class="btn btn-primary">
              <i class="far fa-save"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
