<div class="tab">

  <div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents-->
    <div class="panel-heading"></div>
    <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Date de demande d'immatriculation encoyée à CCH</th>
            <th>Date de transmission des documents à la DF, au partenaire Volvo etc...</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <%= simple_form_for @delivery do |f| %>
          <tr>
            <td><%= f.input :date_demande_immat_envoye, as: :date, html5: true, label: false %>
            </td>
            <td>
              <%= f.input :transmision_PV_DF_RCR, as: :date, html5: true, label: false %>
              </td>
          <td> <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
          </button>
          </td>
        </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Documents Immatriculation <%= @bus.immatriculation %> </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%@documents_immatriculation.each do |document|  %>
        <tr>
          <td><%= document %></td>
          <td>
         <% if @delivery.documents.where(name: "#{document}").take.present?  %>
          <%= link_to document_path(@delivery.documents.where(name: "#{document}").take, :name => "#{document}"), class:"btn btn-primary" do %><i class="far fa-eye"></i><% end %>
          <%= link_to new_document_path(:name => "#{document}"), class:"btn btn-warning" do %><i class="far fa-edit"></i><% end %>
          <%= link_to document_path(@delivery.documents.where(name: "#{document}").take, :name => "#{document}"), method: :delete, class:"btn btn-danger" do %><i class="far fa-eye"></i><% end %>
          <% else %>
          <%=link_to new_document_path(:name => "#{document}"), class:"btn btn-primary" do %><i class="fas fa-plus-circle"></i><% end %>
          <% end %>
          </td>
        </tr>
         <% end %>
      </tbody>
    </table>
  </div>
</div>
