<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents
    <div class="panel-heading">Bus en stock</div>-->
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Lieu Preparation/livraison du véhicule</th>
          <th>Lieu Livraison</th>
          <th>Date Livraison</th>
          <th>Heure Livraison</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <%= simple_form_for @delivery do |f| %>
        <tr>
          <td><%= f.input :lieu_prepa, label: false %></td>
          <td><%= f.association :place,label_method: :city, label: false %></td>
          <td><%= f.date_field :date_livraison, label: false %></td>
          <td><%= f.time_field :heure_livraison, label: false %></td>
          <td><button type="submit" class="btn btn-primary">
    <i class="far fa-save"></i>
    </button></td>
        </tr>
      </tbody>
    </table>

    <% end %>
  </div>
</div>
