<div class  ="container">
  <h2>Livraisons en cours</h2>
  <div class="tab">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"></div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Mois de livraison</th>
            <th>Client</th>
            <th>Chassis</th>
            <th>RCR</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @deliveries.each  do | delivery | %>
          <tr>
            <td><%= delivery.bus.lines.last.date_livraison_bdc.strftime('%B-%y') if delivery.bus.lines.last.date_livraison_bdc.present? %></td>
            <td><%= delivery.bus.orders.last[:client] if delivery.bus.orders.last.present? %></td>
            <td><%= delivery.bus.numero_chassis%></td>
            <td><%= delivery.bus.orders.last.sales_advisor.name if delivery.bus.orders.last.present?%></td>
            <td><%= link_to delivery_path(delivery[:id]), class: "btn btn-warning" do %>
              <i class="far fa-edit"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
