
<div class="main-container">
  <div class="navigation" id="sidebar">
    <ul>
      <br>
      <li><h5>Livraison en cours</h5></a></li>
      <li><a href="#section-1">Informations Vehicule</a></li>
      <li><a href="#section-2">Commande client</a></li>
      <li><a href="#section-3">Livraison au client</a></li>
      <li><a href="#section-4">Documents envoyés</a></li>
      <li><a href="#section-5">Emplacement</a></li>
      <li><a href="#section-6">Financement</a></li>
      <li><a href="#section-7">Travaux</a></li>
      <li><a href="#section-8">Divers</a></li>
      <li><a href="#section-9">Immatriculation</a></li>
      <li><a href="#section-10">Livraison/Facturation</a></li>
      <li><a href="#section-11">Livraison Effective</a></li>
      <li><a href="#section-12">Cloture Dossier ADV</a></li>
      <li><a href="#section-13">Reprise</a></li>
      <%= link_to "Informations véhicule", bus_path(@delivery.line.bus)%>
    </ul>
  </div>

  <div>
    <div class="add-padding-left" id="section-0">
      <% if @delivery.pending? && @ready_to_close %>
        <%= link_to "Clore cette livraison", close_delivery_path(@delivery)%>
      <% elsif @delivery.close? %>
        <div class="status_bar">Ce bus a été livré à son client</div>
        <% end %>
    </div>

    <div class="add-padding-left" id="section-1">
      <h5>Informations véhicule</h5>
      <%= render "./buses/information_vehicule" %>
    </div>

    <div class="add-padding-left" id="section-2">
      <h5>Commande client</h5>
      <%= render "./buses/order" %>
    </div>
    <div class="add-padding-left" id="section-3">
      <h5>Livraison au client</h5>
      <%= render "maj_livraison_client" %>
    </div>
    <div class="add-padding-left" id="section-4">
      <h5>Documents envoyés</h5>
      <%= render "documents_envoyes" %>
    </div>
    <div class="add-padding-left" id="section-5">
      <h5>Convoyage</h5>
      <%= render "buses/emplacement", bus: @bus, ferry: @ferry %>
    </div>
    <div class="add-padding-left" id="section-6">
      <h5>Financement</h5>
      <%= render "financement" %>
    </div>
    <div class="add-padding-left" id="section-7">
      <h5>Travaux</h5>
      <%= render "travaux" %>
      <%= link_to "Ajouter travaux", new_work_path, class: "btn btn-primary" %>
    </div>
    <div class="add-padding-left" id="section-8">
      <h5>Divers</h5>
      <%= render "divers" if @training.present? %>
      <%= render "telematique" if @line.mention_telematique == "oui" %>
      <%= render "garantie" if @line.mention_garantie.present? %>
    </div>
    <div class="add-padding-left" id="section-9">
      <h5>Immatriculation</h5>
      <%= render "immat" %>
    </div>
    <div class="add-padding-left" id="section-10">
      <h5>Livraison/Facturation</h5>
      <%= render "livraison_facturation"%>
    </div>

    <div class="add-padding-left" id="section-11">
      <h5>Livraison Effective</h5>
      <%= render "documents_livraison_effective"%>
    </div>

    <div class="add-padding-left" id="section-12">
      <h5>Cloture Dossier ADV</h5>
      <%= render "cloture_adv" %>
    </div>

    <div class="add-padding-left" id="section-13">
      <h5>Reprise</h5>
      <% if @traded_bus.present? %>
        <%= render "reprise"  %>
      <% else %>
        <p>Pas de reprise pour la vente de ce véhicule</p>
      <% end %>
    </div>
  </div>
</div>
