<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Bus liés à la commande</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Description</th>
          <th>Order Book</th>
          <th>Couleur Exterieure</th>
          <th>Delai Bon de commande</th>
          <th>Garantie</th>
          <th>Télématique</th>
          <th>Status 2</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @ordered_buses.each  do | bus| %>
        <tr>
          <td><%= bus.description[:name] %></td>
          <td><%= bus.lines.last.order_book[:name] if bus.lines.last.order_book.present?  %></td>
          <td><%= bus.lines.last[:couleur_ext_vehicule] if bus.lines.present? %></td>
          <td><%= bus.lines.last[:date_livraison_bdc] if bus.lines.present? %></td>
          <td><%= bus.lines.last[:mention_garantie] if bus.lines.present? %></td>
          <td><%= bus.lines.last[:mention_telematique] if bus.lines.present? %></td>
          <td><%= bus.statut2 %></td>
          <td>
            <%= link_to bus_path(bus[:id]), class: "btn btn-warning" do %>
            <i class="far fa-edit"></i><% end %>

             <%= link_to new_order_bus_line_trade_path(@order, bus[:id], @order.lines.where(bus_id: bus[:id]).take), class: "btn btn-primary" do %><i class="fas fa-bus"></i><% end %>

            <%= link_to new_order_bus_line_training_path(@order, bus[:id], @order.lines.where(bus_id: bus[:id]).take), class: "btn btn-primary" do %><i class="fas fa-graduation-cap"></i><% end %>

            <% if bus.lines.present? %>
            <%= link_to line_path(bus.lines.last), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} do %>
            <i class="fas fa-minus-circle"></i>
            <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
