<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Reprise</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Immatriculation</th>
          <th>Statut 2</th>
          <th>Prix de rachat</th>
          <th>Bus lié à la reprise</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @order.lines.each  do |line| %>
          <% line.trades.each do |trade| %>
            <tr>
              <td><%= trade.bus.immatriculation %></td>
              <td><%= trade.bus.statut2 %></td>
              <td><%= trade.prix_achat %></td>
              <td><%= line.bus.type.name %></td>
            <td>
              <%= link_to bus_path(trade.bus), class: "btn btn-warning" do %>
              <i class="far fa-edit"></i>
              <% end %>
              <%= link_to trade_path(trade),method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} do %>
              <i class="fas fa-minus-circle"></i>
              <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
