<div class="container">
<%= simple_form_for @order do |f| %>
  <%= f.input :client %>
  <%= f.input :numero_bon_de_commande %>
  <%= f.input :date, as: :date, html5: true  %>
  <%= f.association :sales_advisor%>
  <button type="submit" class="btn btn-primary">
                  <i class="far fa-edit"></i>
<% end %>
</div>
