<div class="container">
  <div class="tab">
    <div class="panel panel-default">
      <!-- Default panel contents-->
      <div class="panel-heading">Commande</div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Date BdC</th>
            <th>N°BdC</th>
            <th>Vendeur</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @order.client %></td>
            <td><%= @order.date %></td>
            <td><%= @order.numero_bon_de_commande %></td>
            <td><%= @order.sales_advisor[:name] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<%= search_form_for @q, url: order_path(@order), html: { method: :get } do |f| %>
  <%= f.search_field :description_name_cont %>
  <%= f.submit  %>
<% end %>

<% if params[:q]!=nil && @buses.length>0  %>
<%= @buses.length %>
<%= render 'list_buses' %>
<% elsif params[:q].present? && @buses.length==0 %>
<%= render 'no_bus' %>
<% end %>

<%= render 'busencommande' %>

<%= link_to "Fin de la commande", orders_path, class: "btn btn-primary" %>
</div>
