<div class = "wrapper">
<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Commandes en cours", orders_path, class: "tab-underlined active " %>
  </li>
  <li>
    <%= link_to "Ajouter une commande", new_order_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Commandes traitées", closed_orders_path, class: "tab-underlined " %>
  </li>
</ul>
</div>

<div class="container">
  <div class="tab">
    <div class="panel panel-default">
      <!-- Default panel contents-->
      <div class="panel-heading">Commande</div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Date BdC</th>
            <th>N°BdC</th>
            <th>Vendeur</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @order.client %></td>
            <td><%= @order.date %></td>
            <td><%= @order.numero_bon_de_commande %></td>
            <td><%= @order.sales_advisor[:name] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<h6>Rechercher un bus en stock par sa description</h6>
<p>Il est possible de commander plusieurs Bus sur la même commande en effectuant une nouvelle recherche</p>
<%= search_form_for @q, url: order_path(@order), html: { method: :get } do |f| %>
  <%= f.search_field :type_name_cont %>
  <%= f.submit  %>
<% end %>

<% if params[:q]!=nil && @buses.length>0  %>
<%= render 'list_buses' %>
<% elsif params[:q].present? && @buses.length==0 %>
<%= render 'no_bus' %>
<% end %>
<br>
<%= render 'busencommande'%>

<!-- affichage du bus concerné par la reprise -->
<%= render 'busenreprise' if @order.trades.present? %>

<% if @order_to_close && @order.statut == true %>
  <h5>Cloturer cette commande</h5>
    <%= simple_form_for @order do |f| %>
      <%= f.input :statut, :input_html => { value: close}, as: :hidden  %>
      <button type="submit" class="btn btn-primary" %>
      Cloturer cette commande</button>
      <% end %>
<% elsif @order_to_close && @order.statut == false %>
        <div class="status_bar">Cette commande est cloturée</div>
<% end %>

<!-- affichage des formations demandés -->
<%= render 'formations_demandees' if @order.trainings.present? %>

<br>
<%= link_to "retour à la liste des commandes en cours", orders_path %>
</div>
