<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Marque</th>
            <th>type</th>
            <th>Long. </th>
            <th>Places</th>
            <th>V.C.L</th>
            <th>Couleur</th>
            <th>N° de Chassis</th>
            <th>N° immat</th>
            <th>Départ</th>
            <th>Arrivée</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @ferries.each  do | ferry| %>
        <tr>
            <td><%= ferry.bus.marque %></td>
            <td><%= ferry.bus.type.name if ferry.bus.type.present?%></td>
            <td><%= ferry.bus.longueur %></td>
            <td><%= ferry.bus.nbr_places %></td>
            <td><%= ferry.bus.volo_coach_line %></td>
            <td><%= ferry.bus.couleur %></td>
            <td> <%= ferry.bus.numero_chassis %></td>
            <td> <%= ferry.bus.immatriculation %></td>
            <td><%= ferry.depart %></td>
            <td><%= ferry.arrivee %></td>
          <td>
            <%= link_to edit_ferry_path(ferry[:id]), class: "btn btn-warning" do %><i class="far fa-edit"></i><% end %>
            <%= link_to ferry_path(ferry[:id]), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"} do %><i class="fas fa-minus-circle"></i><% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
