<div class="container">
<%= simple_form_for [@bus, @ferry] do |f| %>
  <%= f.input :date_convoyage, as: :date, html5: true %>
  <%= f.input :depart %>
  <%= f.input :arrivee %>
  <%= f.input :site %>
  <%= f.input :numero_bdc %>
  <%= f.input :note, as: :text %>
  <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
<% end %>
</div>
