<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Sens</th>
          <th>Depart</th>
          <th>Arrivée</th>
          <th>n° BdC</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
       <%= simple_form_for @bus do |f| %>
        <%= f.simple_fields_for :ferries do |ferries_form| %>
        <tr>
          <td><%= ferries_form.date_field :date_convoyage %></td>
          <td><%= ferries_form.text_field :sens %></td>
          <td><%= ferries_form.text_field :depart %></td>
          <td><%= ferries_form.text_field :arrivee %></td>
          <td><%= ferries_form.text_field :numero_bdc %></td>
          <% end %>
          <td>
            <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus-circle"></i></button>
          </td>
          <% end %>
        </tr>

        <% @bus.ferries.each  do | ferry| %>
        <tr>
          <td><%= ferry.date_convoyage %></td>
          <td><%= ferry.sens %></td>
          <td><%= ferry.depart %></td>
          <td><%= ferry.arrivee %></td>
          <td><%= ferry.numero_bdc %></td>
        </tr>
        <% end %>
      </tbody>

    </table>

  </div>
</div>
