<div class="tab">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"></div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Marque</th>
            <th>Type</th>
            <th>Longueur</th>
            <th>Nombre de places </th>
            <th>Volvo Coach Line</th>
            <th>Note</th>
            <th>Reference</th>
            <th>Couleur</th>
            <th>N° de Chassis</th>
            <th>immatriculation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
             <td><%=@bus.marque %></td>
            <td><%= @bus.type.name if @bus.type.present? %></td>
            <td><%= @bus.longueur %></td>
            <td><%= @bus.nbr_places %></td>
            <td><%= @bus.volo_coach_line %></td>
            <td><%= @bus.note %></td>
            <td><%= @bus.reference %></td>
            <td><%= @bus.couleur %></td>
            <td> <%= @bus.numero_chassis %></td>
            <td><%= @bus.immatriculation %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

