<div class="tab">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading"></div>
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Type</th>
            <th>N° de Chassis</th>
            <th>Statut 1</th>
            <th>Statut 2</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @buses.each  do | bus| %>
          <tr>
            <td><%= bus.type.name %></td>
            <td> <%= bus.numero_chassis %></td>
            <td><%= bus.statut1 %></td>
            <td><%= bus.statut2 %></td>
            <td><%= link_to bus_path(bus[:id]), class: "btn btn-warning" do %>
              <i class="far fa-edit"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
