
<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"></div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Documents</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><% if @factory_order.vcr.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@factory_order.vcr)}"), target: "_blank" do %>
            <%= @factory_order.vcr.name %>
            <% end %>
            <%= link_to rails_blob_path(@factory_order.vcr, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @factory_order.vcr.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @factory_order do |form| %>
            <%= form.file_field :vcr %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>

        <tr>
          <td><% if @factory_order.document_de_transport.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@factory_order.document_de_transport)}"), target: "_blank" do %>
            <%= @factory_order.document_de_transport.name %>
            <% end %>
            <%= link_to rails_blob_path(@factory_order.document_de_transport, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @factory_order.document_de_transport.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @factory_order do |form| %>
            <%= form.file_field :document_de_transport %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><% if @factory_order.delivery_note.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@factory_order.delivery_note)}"), target: "_blank" do %>
            <%= @factory_order.delivery_note.name %>
            <% end %>
            <%= link_to rails_blob_path(@factory_order.delivery_note, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @factory_order.delivery_note.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @factory_order do |form| %>
            <%= form.file_field :delivery_note %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>

        <tr>
          <td><% if @factory_order.photos_livraison.attached? %>
            <%= link_to pdfjs.full_path(file:"#{url_for(@delivery.photos_livraison)}"), target: "_blank" do %>
            <%= @factory_order.photos_livraison.name %>
            <% end %>
            <%= link_to rails_blob_path(@factory_order.photos_livraison, disposition: 'attachment') do%>
            <i class="far fa-save"></i>
            <% end %>
            <% else %>
            <%= @factory_order.photos_livraison.name %>
            <% end %>
          </td>
          <td><%= simple_form_for @factory_order do |form| %>
            <%= form.file_field :photos_livraison %>
            <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            </button>
            <% end %>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
