<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents-->
    <div class="panel-heading">
    </div>
    <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Délai Bon de Commande</th>
            <th>Client</th>
            <th>N° Bdc</th>
            <th>Oder Book</th>
            <th>Vendeur</th>
            <th>Date de commande</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @bus.lines.last[:date_livraison_bdc] if @bus.lines.last.present? %></td>
            <td><%= @bus.orders.last[:client] if @bus.orders.last.present? %></td>
            <td><%= @bus.orders.last[:numero_bon_de_commande] if @bus.orders.last.present? %></td>
            <td><%= @bus.lines.last.order_book[:name] if @bus.lines.last.order_book.present? %></td>
            <td><%= @bus.orders.last.sales_advisor[:name] if @bus.orders.last.sales_advisor.present? %></td>
            <td><%= @bus.orders.last.date if @bus.orders.last.date.present? %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
