<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents-->
    <div class="panel-heading">
    </div>
    <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Délai Bon de Commande</th>
            <th>Client</th>
            <th>N° Bdc</th>
            <th>Oder Book</th>
            <th>Vendeur</th>
            <th>Date de commande</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @line.date_livraison_bdc if @order.present? %></td>
            <td><%= @order.client if @order.present? %></td>
            <td><%= @order.numero_bon_de_commande if @order.present? %></td>
            <td><%= @line.order_book.name if @line.order_book.present? %></td>
            <td><%= @order.sales_advisor.name if @order.sales_advisor.present? %></td>
            <td><%= @order.date if @order.date.present? %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
