<div class="main-container">
  <div class="navigation" id="sidebar">
    <ul>
      <li><a href="#section-1">Commande Client</a></li>
  </div>

  <div>
    <div class="add-padding-left" id="section-1">
      <div class="tab">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"></div>
          <!-- Table -->
          <table class="table">
            <thead>
              <tr>
                <th>Délai bon de commande</th>
                <th>Description</th>
                <th>Order Book</th>
                <th>Couleur Exterieure</th>
                <th>Client</th>
                <th>Status 1</th>
                <th>Status 2</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @buses.each  do | bus| %>
              <tr>
                <td><%= bus.lines.last[:date_livraison_bdc] if bus.lines.present? %></td>
                <td><%= bus.description[:name] %></td>
                <td><%= bus.lines.last.order_book[:name] if bus.lines.last.present?%></td>
                <td><%= bus.lines.last[:couleur_ext_vehicule] if bus.lines.last.present? %></td>
                <td><%= bus.orders.last[:client] if bus.orders.last.present?%></td>
                <td><%= bus.status1 %></td>
                <td><%= bus.status2 %></td>
                <td><%= link_to bus_path(bus[:id]), class: "btn btn-warning" do %>
                  <i class="far fa-edit"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
