<% if !@order.present? %>
<div class = "wrapper">
  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to "Véhicule en stock", buses_path, class: "tab-underlined" %>
    </li>
    <li>
      <%= link_to "Ajouter un véhicule en stock", new_bus_path(), class: "tab-underlined active" %>
    </li>
    <li>
      <%= link_to "Véhicule chez le client", archive_buses_path, class: "tab-underlined " %>
    </li>
  </ul>
</div>

<div class="form-container">
  <%= simple_form_for @bus do |f| %>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :statut1, collection: Bus.statut1s.map { |key, value| [key.humanize, key] } %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.input :statut2, collection: [ 'A commander',
      'Config usine à valider',
      'En commande',
      'Annulé',
      'En Stock SE35',
      'Stock VO',
      'En stock VTFL',
      'Démo SE35',
      'Démo FR05',
      'Facturé VN',
      'Facturé VTFL',
      'VO à rentrer',
      'Facturé VO',
      'Facturé VO (ex Demo)'] %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :type_id, collection: @types%>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.input :longueur %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :nbr_places %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.input :volo_coach_line %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :couleur %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.input :note %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :reference %>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Creer ce véhicule</button>
  <% end %>
</div>
  <% end %>
  <% if @order.present? && !@ordered_bus.present?  %>
  <div class = "wrapper">
  <ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Commandes en cours", orders_path, class: "tab-underlined " %>
  </li>
  <li>
    <%= link_to "Ajouter une commande", new_order_path, class: "tab-underlined active " %>
  </li>
  <li>
    <%= link_to "Commandes traitées", archive_orders_path, class: "tab-underlined " %>
  </li>
</ul>
</div>
  <div class="form-container">
    <%= simple_form_for [@order,@bus] do |f| %>
    <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :type_id, collection: @types%>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.input :longueur %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :nbr_places %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.input :volo_coach_line %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :couleur %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.input :note %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :reference %>
    </div>
  </div>
    <button type="submit" class="btn btn-primary">Creer ce véhicule</button>
    <% end %>
    </div>
    <% end %>

    <% if @ordered_bus.present? %>
    <div class = "wrapper">
    <ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Commandes en cours", orders_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Ajouter une commande", new_order_path, class: "tab-underlined active" %>
  </li>
  <li>
    <%= link_to "Commandes traitées", archive_orders_path, class: "tab-underlined " %>
  </li>
</ul>
</div>
    <div class="form-container">
      <h5>Reprendre ce bus lié à la commande du bus <%=@ordered_bus.type.name %> pour le client :<%=@order.client %></h5>
      <%= simple_form_for [@order,@ordered_bus,@line,@bus] do |f| %>
      <%= f.input :immatriculation%>
      <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :type_id, collection: @types%>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.input :longueur %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :nbr_places %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.input :volo_coach_line %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :couleur %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= f.input :note %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= f.input :reference %>
    </div>
  </div>
      <button type="submit" class="btn btn-primary">Creer ce véhicule</button>
      <% end %>
      <% end %>
    </div>

