<div class="main-container">
  <div class="navigation" id="sidebar">
    <ul>
      <br>
      <li><h5>Information Véhicule</h5></a></li>
      <li><a href="#section-1">Commande Client</a></li>
      <li><a href="#section-2">Information Véhicule</a></li>
      <li><a href="#section-3">Indentification Usine</a></li>
      <li><a href="#section-4">Commande Usine</a></li>
      <li><a href="#section-5">Livraison Usine</a></li>
      <li><a href="#section-6">Emplacement</a></li>
      <li><a href="#section-7">Immatriculation</a></li>
      <li><a href="#section-8">Garantie</a></li>
      <li><a href="#section-9">Telematique</a></li>
      <%= link_to "Information Livraison", delivery_path(@bus)%>
    </ul>
  </div>

  <div>
    <div class="add-padding-left" id="section-1">
      <h5>Commande Client</h5>
      <%= render "order" if @bus.orders.present?%>
    </div>
    <div class="add-padding-left" id="section-2">
      <h5>Information Véhicule</h5>
      <%= render "bus_resume" %>
    </div>
    <div class="add-padding-left" id="section-3">
      <h5>Indentification Usine</h5>
      <%= render "identification_usine" %>
    </div>
    <div class="add-padding-left" id="section-4">
      <h5>Commande Usine</h5>
      <%= render "nouvelle_commande_usine" if !@bus.factory_orders.last.id.present? %>
      <%= render "maj_commande_usine" if @bus.factory_orders.last.id.present?  %>
    </div>
    <div class="add-padding-left" id="section-5">
      <h5>Livraison Usine Chez le Partenaire </h5>
      <%= render "livraison_usine" if @bus.factory_orders.last.id.present?%>
    </div>

    <div class="add-padding-left" id="section-6">
      <h5>Emplacement</h5>
      <%= render "emplacement" %>
    </div>

    <div class="add-padding-left" id="section-7">
      <h5>Immatriculation</h5>
      <%= render "immatriculation" %>
    </div>
     <div class="add-padding-left" id="section-8">
      <h5>Garantie</h5>
      <%= render "garantie" if @bus.lines.present?%>
    </div>
     <div class="add-padding-left" id="section-9">
      <h5>Telematique</h5>
      <%= render "telematique" if @bus.lines.present?%>
    </div>
  </div>
</div>

