<div class="main-container">
  <div class="navigation" id="sidebar">
    <ul>
      <br>
      <li><h5>Informations Véhicule</h5></a></li>
      <li><a href="#section-1">Commande Client</a></li>
      <li><a href="#section-2">Informations Véhicule</a></li>
      <li><a href="#section-3">Indentification Usine</a></li>
      <li><a href="#section-4">Commande Usine</a></li>
      <li><a href="#section-5">Livraison Usine</a></li>
      <li><a href="#section-6">Relevé Kilometrage</a></li>
      <li><a href="#section-7">Immatriculation</a></li>
      <li><a href="#section-13">Convoyage</a></li>
      <% if @delivery.present? %>
      <%= link_to "Informations Livraison", delivery_path(@delivery)%>
      <% end %>
      <% if @active_trade %>
      <%= link_to "VO à rentrer", trade_path(@active_trade)%>
      <% end %>
    </ul>
  </div>
  <div>
    <div class="add-padding-left" id="section-1">
      <h5>Informations Véhicule</h5>
      <%= render "bus_resume" %>
      <%= render "./buses/information_vehicule" %>
    </div>
    <div class="add-padding-left" id="section-2">
      <h5>Commande Client</h5>
      <% if @order.present?  %>
      <%= render "order" %>
      <% else %>
      <p>Pas de commande pour ce véhicule</p>
      <% end %>
    </div>
    <div class="add-padding-left" id="section-3">
      <h5>Indentification Usine</h5>
      <%= render "identification_usine" %>
    </div>
    <div class="add-padding-left" id="section-4">
      <h5>Commande Usine</h5>
      <%= render "nouvelle_commande_usine" if !@bus.factory_orders.last.id.present? %>
      <%= render "maj_commande_usine" if @bus.factory_orders.last.id.present?  %>
    </div>
    <div class="add-padding-left" id="section-5">
      <h5>Livraison Usine Chez le Partenaire </h5>
      <%= render "livraison_usine" if @bus.factory_orders.last.id.present?%>
    </div>
    <div class="add-padding-left" id="section-6">
      <h5>Relevé Kilométrage </h5>
      <%= render "releve_kilometrage"%>
    </div>
    <div class="add-padding-left" id="section-7">
      <h5>Immatriculation</h5>
      <%= render "immatriculation" %>
    </div>
    <div class="add-padding-left" id="section-7">
      <h5>Convoyage</h5>
      <%= render "emplacement" %>
    </div>
  </div>
</div>
