<div class="tab">
  <div class="panel panel-default">
    <!-- Default panel contents-->
    <div class="panel-heading">
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Date de rentrée</th>
          <th>Type</th>
          <th>Immatriculation</th>
          <th>Prix de rachat</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% @trades.each do |trade| %>
        <tr>
          <td><%= trade.date_rentree_bdc %></td>
          <td><%= trade.bus.type.name if trade.bus.type.present? %></td>
          <td><%= trade.bus.immatriculation %></td>
          <td><%= trade.prix_achat%></td>
          <td>
            <%= link_to trade_path(trade[:id]), class: "btn btn-primary" do %>
          <i class="far fa-eye"></i><% end %>
            </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
