<div class = "wrapper">
  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to "Commandes en cours", orders_path, class: "tab-underlined" %>
    </li>
    <li>
      <%= link_to "Ajouter une commande", new_order_path, class: "tab-underlined active" %>
    </li>
    <li>
      <%= link_to "Commandes traitées", closed_orders_path, class: "tab-underlined  " %>
    </li>
  </ul>
</div>
<div class="container">
  <!-- recherche d'un bus présent dans la base -->
  <% if !@traded_bus.present? %>
  <h5>Rechercher le bus à reprendre dans la base par son immatriculation</h5>
  <%= search_form_for @q, url: new_order_bus_line_trade_path(@order,@line.bus, @line), html: { method: :get } do |f| %>
  <%= f.search_field :immatriculation_cont %>
  <%= f.submit  %>
  <% end %>
  <% end %>

  <!-- affichage des bus de la base compatible d'une reprise -->
  <% if params[:q]!=nil && @used_buses.length>0  %>
  <%= @used_buses.length %>
  <%= render 'list_used_buses' %>
  <% elsif params[:q].present? && @used_buses.length==0 %>
  <!-- si pas de bus dans la base, demande de creation d'un bus d'occasion à mettre dans la base -->
  <%= render 'no_used_bus' %>
  <% end %>

 <!-- affichage du bus concerné par la reprise -->
  <% if @traded_bus.present? %>
  <div class="form-container">
    <%= render 'busenreprise'  %>
    <!-- formulaire de reprise du bus selectionné -->
    <%= simple_form_for [@order,@line.bus, @line, @trade] do |f| %>
    <%= f.input :line_id, :input_html => { value: @line.id}, as: :hidden %>
    <%= f.input :bus_id, :input_html => { value: @traded_bus.id}, as: :hidden %>
    <%= f.input :prix_achat%>
    <%= f.input :date_rentree_bdc, as: :date, html5: true%>
    <button type="submit" class="btn btn-primary">
    <i class="far fa-edit"></i>
    <% end %>
    <% end %>
  </div>
</div>
