<div class="main-container">
  <div class="navigation" id="sidebar">
    <ul>
      <li><h5>Reprise en cours</h5></a></li>
      <li><a href="#section-1">Rappel informations commande </a></li>
      <li><a href="#section-2">Information de reprise</a></li>
      <li><a href="#section-13">Documents de reprise</a></li>
      <%= link_to "Information véhicule", bus_path(@trade.bus)%>
    </ul>
  </div>
  <div>
    <div class="add-padding-left" id="section-0">
      <% if @trade.status == true %>
      <%= link_to "Clore cette reprise", close_trade_path(@trade)%>
      <% elsif @trade.status == false %>
      <div class="status_bar">La reprise de ce bus est cloturée</div>
      <% end %>
    </div>
    <div class="add-padding-left" id="section-2">
      <h5>Rappel informations commande</h5>
      <%= render "./buses/order" %>
    </div>
    <div class="add-padding-left" id="section-2">
      <h5>Information de reprise</h5>
      <%= render "info" %>
    </div>
    <div class="add-padding-left" id="section-13">
      <h5>Documents de reprise</h5>
      <%= render "document" %>
    </div>
  </div>
</div>
